<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiaolu.mapper.ClazzMapper">

    <select id="pagingQuery" resultType="com.qiaolu.pojo.Clazz">
        select clazz.*, emp.name masterName from clazz left join emp on clazz.master_id = emp.id
        <where>
            <if test="name != null and name != ''">
                clazz.name like concat('%', #{name}, '%')
            </if>
            <if test="begin != null and end != null">
                and clazz.begin_date >= #{begin} and clazz.end_date &lt;= #{end}   <!--  别忘记 and ,where标签会根据条件自动取消  -->
            </if>
        </where>
    </select>

</mapper>